<div id="<%= "group_#{group.id}" %>" class="group">

  <div class="group_title" id="group_title"
       data-inline-edit="inline_group_title_<%= group.id %>"
       data-inline-edit-url='<%= update_title_retrospective_group_url(@retrospective, group)  %>'>
    <span id="inline_group_title_<%= group.id %>"><%= group.title %></span>
    <%= link_to image_tag("delete.png", :class => 'nav_image', :alt => "(remove)"), [@retrospective, group], :remote => true, :class => 'inline_link', :method => :delete, :confirm => 'Remove group?', :title => 'remove group' %>
    <%= link_to image_tag("expand_collapse.png", :class => 'nav_image', :alt => "(exp/col)"), "#", :id => "collapse_group_#{group.id}", :class => 'collapse_link' %>
  </div>

<div id="collapse_group_<%= group.id %>_span" class="collapsible">

  <div id="<%= "group_items_#{group.id}" %>" class="group_items"
       data-droppable="<%= add_item_retrospective_group_path(@retrospective, group) %>">
    <%= render :partial => 'groups/group_items', :locals => {:current_group => group} %>
  </div>

</div>

</div>