<% if is_starting_row(section_counter) %>
  <tr class="section_row">
<% end %>
<td class="title"><%= section.title %>
  <%= link_to '(edit)', edit_retrospective_section_path(section.retrospective, section), :class => 'inline_link' %>
</td>
<% if is_ending_row(section_counter) %>
  </tr>
  <tr>
    <% beginning_row_index_for_ending_index(section_counter).upto(section_counter) do |items_section_index| %>
      <% current_section = @retrospective.sections[items_section_index] %>
      <td id="<%= "section_items_#{current_section.id}" %>" class="section_items">
        <%= render :partial => 'sections/section_items', :locals => {:current_section => current_section} %>
      </td>
      <%= periodically_call_remote(:url => refresh_retrospective_url(:section_id => section), :frequency => 20, :condition => "$('enable_auto_refresh').checked") %>
    <% end %>
  </tr>
<% end %>
