<div class="section">

  <div class="title">
    <span id="inline_section_title_<%= section.id %>"><%= section.title %></span>
    <%= link_to_function image_tag("new-item2.png", :class => 'nav_image', :alt => "(new item)"), remote_function(:url => add_retrospective_section_items_url(section.retrospective, section)), :id => "add_item_#{section.id}", :class => 'inline_link', :title => 'new item' %>
    <%= link_to_function image_tag("expand_collapse.png", :class => 'nav_image', :alt => "(exp/col)", :title => 'expand/collapse'), :id => "collapse_section_#{section.id}", :class => 'collapse_link' %>
    <span id="inline_add_item_<%= section.id %>"></span>
    <%= inline_edit_item_with_remote_update(:id => section.id, :element_id => "section_title", :url => update_title_retrospective_section_url(section.retrospective, section), :on_complete => '') %>
    <%= inline_edit_item_with_remote_update(:id => section.id, :url => add_retrospective_section_items_url(section.retrospective, section), :refresh_url => refresh_retrospective_url(:section_id => section)) %>
  </div>

<span id="collapse_section_<%= section.id %>_span" class="collapsible">

  <div id="<%= "section_items_#{section.id}" %>" class="section_items">
    <%= render :partial => 'sections/section_items', :locals => {:current_section => section} %>
  </div>

  <%= drop_receiving_element("section_items_#{section.id}", :url => move_item_to_retrospective_section_path(section.retrospective, section), :with => "'item_id=' + encodeURIComponent(element.id)") %>
  <%= periodically_call_remote(:url => refresh_retrospective_url(:section_id => section), :frequency => 20, :condition => "$('enable_auto_refresh').checked") %>

</span>

</div>

