<% if is_starting_row(section_counter) %>
  <tr class="section_row">
<% end %>
<td class="title" colspan="<%= section_column_span(section_counter) %>"><span id="inline_section_title_<%= section.id %>"><%= section.title %></span>
  <%= link_to image_tag("edit.png", :width => "18px", :height => "18px", :alt => "(edit)"), '', :href => 'javascript:void(0);', :id => "section_title_#{section.id}", :class => 'inline_link' %>
  <%= link_to image_tag("new-item.png", :width => "18px", :height => "18px", :alt => "(+1)"), '', :href => 'javascript:void(0);', :id => "add_item_#{section.id}", :class => 'inline_link' %>
  <span id="inline_add_item_<%= section.id %>"></span>
  <%= inline_edit_item_with_remote_update(:id => section.id, :element_id => "section_title", :url => update_title_retrospective_section_url(section.retrospective, section), :on_complete => '' ) %>
  <%= inline_edit_item_with_remote_update(:id => section.id, :url => add_retrospective_section_items_url(section.retrospective, section), :refresh_url => refresh_retrospective_url(:section_id => section) ) %>
</td>
<% if is_ending_row(section_counter) %>
  </tr>
  <tr>
    <% beginning_row_index_for_ending_index(section_counter).upto(section_counter) do |items_section_index| %>
      <% current_section = @retrospective.sections[items_section_index] %>
      <td id="<%= "section_items_#{current_section.id}" %>" class="section_items" colspan="<%= section_column_span(items_section_index) %>">
        <%= render :partial => 'sections/section_items', :locals => {:current_section => current_section} %>
      </td>
      <%= drop_receiving_element("section_items_#{current_section.id}", :url => move_item_to_retrospective_section_path(current_section.retrospective, current_section), :with => "'item_id=' + encodeURIComponent(element.id)") %>      
      <%= periodically_call_remote(:url => refresh_retrospective_url(:section_id => section), :frequency => 20, :condition => "$('enable_auto_refresh').checked") %>
    <% end %>
  </tr>
<% end %>

