<h1><%= @retrospective.title %> sections</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><span class="title"><%= section.title %></span></td>
    <td><%= link_to 'Show', [section.retrospective, section] %></td>
    <td><%= link_to 'Edit', edit_retrospective_section_path(section.retrospective, section)  %></td>
    <td><%= link_to 'Destroy', [section.retrospective, section], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section', new_retrospective_section_path %>
