<p id="notice"><%= notice %></p>

<p>
  <b>Retrospective:</b>
  <%= @section.retrospective_id %>
</p>

<p>
  <b>Title:</b>
  <%= @section.title %>
</p>

<%= link_to 'Edit', edit_retrospective_section_path(@section.retrospective, @section)  %> |
<%= link_to 'Back', retrospective_path %>

