<span id="item_<%= item.id %>">
<li id="li_item_<%= item.id %>" class="item">
  <%= link_to image_tag("thumbs-up.png", :class => 'nav_image', :alt => "(+1)"), vote_for_retrospective_section_item_url(item.section.retrospective, item.section, item), :remote => true, :method => :post, :class => 'inline_link', :confirm => 'Vote for item?', :title => 'vote for item' %>
  <%= link_to image_tag("thumbs-down.png", :class => 'nav_image', :alt => "(-1)"), remove_vote_retrospective_section_item_url(item.section.retrospective, item.section, item), :remote => true, :method => :post, :class => 'inline_link', :confirm => 'Un-vote for item?', :title => 'un-vote for item' %>
  <%= link_to image_tag("edit.png", :class => 'nav_image', :alt => "(edit)"), '', :href => 'javascript:void(0);', :id => "item_value_#{item.id}", :class => 'inline_link', :title => 'edit item' %>
  <%= link_to image_tag("delete.png", :class => 'nav_image', :alt => "(remove)"), [item.section.retrospective, item.section, item], :remote => true, :class => 'inline_link', :method => :delete, :confirm => 'Remove item?', :title => 'remove item' %>
  <%= inline_edit_item_with_remote_update(:id => item.id, :element_id => "item_value", :url => update_value_retrospective_section_item_url(item.section.retrospective, item.section, item), :on_complete => '' ) %>
  (<span id="item_votes_<%= item.id %>"><%= item.item_votes.size %></span>)
  <span id="inline_item_value_<%= item.id %>"><%= item.value %></span>
</li>
</span>
<%= draggable_element("li_item_#{item.id}", :revert => true) %>