<div id="<%= context %>_<%= context_id %>_item_<%= item.id %>" class="<%= context %>_item" style="background-color:<%= "\##{item.section.color}" %>;">
  <div class="item_actions">
    <%= render :partial => "#{context}s/#{context}_item_actions", :locals => {:item => item} %>
  </div>

<span id="<%= context %>_<%= context_id %>_li_item_<%= item.id %>" class="item">
  <span id="inline_<%= context %>_<%= context_id %>_item_value_<%= item.id %>" class="item_value"><%= truncate item.value, :length => 75 %></span>
</span>

  <%= popup_window item.value, "show_#{context}_#{context_id}_item_value_#{item.id}", item.section.color %>


  <%= inline_edit_item_with_remote_update(:id => item.id, :element_id => "#{context}_#{context_id}_item_value",
                                        :url => update_value_retrospective_section_item_url(item.section.retrospective, item.section, item),
                                        :refresh_url => refresh_value_retrospective_section_item_url(item.section.retrospective, item.section, item)) %>

  <%= draggable_element("#{context}_#{context_id}_item_#{item.id}", :revert => true) %>

</div>

