<div class="retro_title">
  <span>Available Retrospectives</span>
</div>
<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @retrospectives.each do |retrospective| %>
  <tr>
    <td><%= retrospective.title %></td>
    <td><%= link_to 'Show', retrospective %></td>
    <td><%= link_to 'Edit', edit_retrospective_path(retrospective) %></td>
    <td><%= link_to 'Destroy', retrospective, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Retrospective', new_retrospective_path %>
