<div class="retro_title">
  <span id="inline_retrospective_title_<%= @retrospective.id %>"><%= @retrospective.title %></span>
  <%= link_to image_tag("edit.png", :class => 'nav_image', :alt => "(rename)"), '', :href => 'javascript:void(0);', :id => "retrospective_title_#{@retrospective.id}", :class => 'inline_link', :title => 'rename' %>
  <%= link_to image_tag("text.png", :class => 'nav_image', :alt => "(text)"), retrospective_path(@retrospective, :format => :text), :class => 'inline_link', :title => 'text version' %>
  <%= link_to image_tag("new-section.png", :class => 'nav_image', :alt => "(add section)"), add_retrospective_sections_url(@retrospective), :method => :post, :class => 'inline_link', :title => 'add section' %>
  <%= link_to image_tag("home.png", :class => 'nav_image', :alt => "(home)"), retrospectives_path, :class => 'inline_link', :title => 'home' %>
  <%= check_box_tag 'enable_auto_refresh', 'auto refresh', false, :class => 'refresh' %>
  <%= inline_edit_item_with_remote_update(:id => @retrospective.id, :element_id => "retrospective_title", :url => update_title_retrospective_url(@retrospective), :on_complete => '') %>
  <span class="refresh">auto refresh</span>
</div>

<div class="groups">
  <div class="title">
    Groups
    <%= link_to image_tag("new-group.png", :class => 'nav_image', :alt => "(add group)"), add_retrospective_groups_url(@retrospective), :remote => true, :method => :add, :class => 'inline_link', :title => 'add group' %>
  </div>
  <span id="groups">
    <%= render @retrospective.groups %>
  </span>
</div>
<%= render :partial => "sections/section_row", :collection => section_rows, :as => :row %>
<br/>
