<div class="retro_title"
     data-inline-edit="inline_retrospective_title_<%= @retrospective.id %>"
     data-inline-edit-url='<%= update_title_retrospective_url(@retrospective) %>'>
  <span id="inline_retrospective_title_<%= @retrospective.id %>"><%= @retrospective.title %></span>
</div>

<div class="retro_sub_title">
  <%= link_to image_tag("add-section.png", :class => 'nav_image', :alt => "(add section)"), add_retrospective_sections_url(@retrospective), :method => :post, :class => 'inline_link', :title => 'add section' %>
  <%= link_to 'Add Section', add_retrospective_sections_url(@retrospective), :method => :post, :class => 'retro_sub_title_link', :title => 'add section' %>
  <%= link_to image_tag("text.png", :class => 'nav_image', :alt => "(text)"), retrospective_path(@retrospective, :format => :text), :class => 'inline_link', :title => 'text version' %>
  <%= link_to 'View Text Version', retrospective_path(@retrospective, :format => :text), :class => 'retro_sub_title_link', :title => 'text version' %>
  <%= form_for @retrospective, :url => change_theme_retrospective_path(@retrospective), :html => {:id => 'theme_form', :method => :post, :class => 'inline_form'} do %>
      <%= select_tag(:theme, options_for_select(theme_options, @theme), 'data-submit' => 'true') %>
  <% end %>
  <%= form_for @retrospective, :url => auto_refresh_retrospective_path(@retrospective), :html => {:id => 'auto_refresh_form', :method => :post, :class => 'inline_form'} do %>
      <%= check_box_tag 'enable_auto_refresh', 'auto refresh', @auto_fresh, :class => 'refresh', 'data-submit' => 'true' %>
  <% end %>
  <span class="refresh">auto refresh</span>
</div>

<div class="groups">
  <div class="title">
    Groups
    <%= link_to image_tag("new-group.png", :class => 'nav_image', :alt => "(add group)"), add_retrospective_groups_url(@retrospective), :remote => true, :method => :post, :class => 'inline_link', :title => 'add group' %>
  </div>
  <div id="groups" data-refresh="<%= refresh_groups_retrospective_url(@retrospective) %>" data-refresh-interval="30">
    <%= render @retrospective.groups %>
  </div>
</div>
<%= render :partial => "sections/section_row", :collection => section_rows, :as => :row %>
<br/>
