<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @retrospective.title %> |
  <%= link_to 'Edit', edit_retrospective_path(@retrospective) %> |
  <%= link_to 'Home', retrospectives_path %>
</p>

<table>
    <% @retrospective.sections.each_index do |index| %>
      <% section = @retrospective.sections[index] %>
      <% if is_starting_row(index) %><tr class="section-row"><% end %>
        <td class="title"><%= section.title %></td>
      <% if is_ending_row(index) %></tr><% end %>
    <% end %>
</table>

