<p id="notice"><%= notice %></p>

<p>
  <span class="retro_title"><%= @retrospective.title %></span>
  <%= link_to 'rename', edit_retrospective_path(@retrospective), :class => 'inline_link' %>
  <%= link_to 'new section', new_retrospective_section_path(@retrospective), :class => 'inline_link' %>
  <%= link_to 'home', retrospectives_path, :class => 'inline_link' %>
</p>

<table class="sections">
  <% @retrospective.sections.each_with_index do |section, section_index| %>
    <% if is_starting_row(section_index) %>
      <tr class="section_row">
    <% end %>
    <td class="title"><%= section.title %>
      <%= link_to 'Edit', edit_retrospective_section_path(section.retrospective, section), :class => 'inline_link' %></td>
    <% if is_ending_row(section_index) %>
      </tr>
      <tr>
        <% number_of_item_columns_for(section_index).times do %>
          <td class="section_items">
            <ul class="items">
              <li class="new_item">(new item)</li>               
            </ul>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
